@import url(main.css);

/* ===============
   HEADER
   =============== */

header {
  width: 60vw;
  right: 20px;
}
header h1 {
  font: bolder var(--font-big) var(--title-fonts);
  padding: 2%;
  color: var(--th8-primary-color);
  word-wrap: break-word;
  margin-inline-end: 0px;
  margin-left: 50%;
}

/* ===============
   HOME NAV
   =============== */
.header-nav__menu-icon {
  width: 50px;
  height: 50px;
  position: relative;
}
.header-nav__menu-icon:after {
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 50px;
  left: 20px;
  top: -50px;
  background-color: var(--th8-terciary-color);
  /*border-radius: 50%;*/
  content: "\2630";
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 14px 1px rgb(255 105 92 / 46%);
}
.header-nav__menu-icon:checked:after {
  animation: iconmenutobottom 1.5s 1;
}
@keyframes iconmenutobottom {
  0% {
    top: 0px;
    content: "\2630";
  }
  10% {
    top: 80vh;
    content: "\2715";
  }
  90% {
    top: 80vh;
    content: "\2715";
  }
  100% {
    top: 80px;
    content: "\2630";
  }
}

.header-nav__menu-icon + ul {
  position: absolute;
  z-index: 1;
  width: 100vw;
  background: var(--th8-primary-color);
  margin-top: -160px;
  padding-top: 80px;
  height: 0vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-nav__menu-icon:checked + ul {
  animation: openmenu 1.5s 1;
}
@keyframes openmenu {
  0% {
    height: 0px;
    box-shadow: none;
  }
  10% {
    height: 92vh;
    box-shadow: 1px 1px 50px 0px var(--th8-base-color);
  }
  90% {
    height: 92vh;
    box-shadow: 1px 1px 50px 0px var(--th8-base-color);
  }
  100% {
    height: 0px;
    box-shadow: none;
  }
}

.header-nav__menu-icon + ul > li {
  visibility: hidden;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  color: var(--th8-suplementary-color);
  font: lighter var(--font-medium) var(--content-fonts);
}
.header-nav__menu-icon:checked + ul > li {
  animation: visiblelinks 1.3s 1;
}

@keyframes visiblelinks {
  0% {
    visibility: hidden;
  }
  10% {
    visibility: visible;
  }
  90% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

li:nth-child(2) {
  color: white;
}

.header-nav_avatar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.header-nav_name {
  font: var(--font-small) var(--title-fonts);
  color: var(--th8-suplementary-color);
}

/* ===============
   SLIDER
   =============== */
.main__slider {
  max-height: 100vh;
  overflow: hidden;
  vertical-align: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main__slider img {
  width: 100%;
}
.main__slider_contact-form .btn {
  padding: 0;
}
.main__slider_contact-form .btn::after {
  content: "\2709";
  font-size: 2em;
  right: 0px;
  padding: 0 10px;
  background-color: var(--th8-terciary-color);
  /* line-height: 0; */
  font-weight: bold;
  bottom: 0;
  width: 1em;
  box-shadow: 0px 0px 14px 1px rgb(255 105 92 / 46%);
  /* height: 2em; */
}

/* ===============
   CAROUSEL PROJECTS
   =============== */
.main__projects_carousel {
  max-width: 90vw;
}
.main__projects_carousel_list {
  width: 100%;
  height: 20vh;
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main__projects_carousel_list_item {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: flex-end;
  position: relative;
  justify-content: center;
}
.main__projects_carousel_list_item img {
  width: 100%;
}
.main__projects_carousel_list_item figcaption {
  position: absolute;
  bottom: 15%;
}

.main__projects_carousel_dots-list {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: -12.5px;
}
a.main__projects_carousel_dots-list_item {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  background-color: var(--th8-terciary-color);
}
a.main__projects_carousel_dots-list_item:active,
a.main__projects_carousel_dots-list_item:focus-visible {
  background: red;
}

/* ===============
   SKILLS
   =============== */

/* ===============
   FORM
   =============== */

@media screen and (min-width: 768px) {
  header h1 {
    font: bolder var(--font-super-bigger) var(--title-fonts);
  }
  .header-nav_avatar img {
    width: 250px;
    height: auto;
  }
  .header-nav_name {
    font: var(--font-medium) var(--title-fonts);
  }

  .header-nav__menu-icon + ul > li {
    font: lighter var(--font-big) var(--content-fonts);
  }
  .header-nav__menu-icon + ul > li a:hover {
    color: var(--th8-terciary-color);
  }
  .main__slider_contact-form .btn:hover::after {
    padding-right: 200px;
    transition: padding-right 0.2s linear;
    content: "\2709 contact width us";
  }
}
