/* ===============
   GLOBAL SETTINGS 
   =============== */
:root {
  --grey: #f2f2f2;
  --black: #282828;
  --white: #ffffff;

  /* ===theme 1 - colors=== */

  --th1-primary-color: #65158f;
  --th1-secondary-color: #e09e1c;
  --th1-terciary-color: #f5ee2e;
  --th1-suplementary-color: #b278a9;
  --th1-base-color: #2f053d;

  /* ===theme 2 - colors=== */

  --th2-primary-color: #793567;
  --th2-secondary-color: #847494;
  --th2-terciary-color: #4e2052;
  --th2-base-color: #0d4562;

  /* ===theme 3 - colors=== */

  --th3-primary-color: #efba9b;
  --th3-secondary-color: #826f8d;
  --th3-terciary-color: #c37b87;
  --th3-suplementary-color: #ec8282;
  --th3-base-color: #446382;

  /* ===theme 4 - colors=== */

  --th4-primary-color: #611a3f;
  --th4-secondary-color: #833b61;
  --th4-terciary-color: #f67e7d;
  --th4-suplementary-color: #ffb997;
  --th4-base-color: #0b022d;

  /* ===theme 5 - colors=== */

  --th5-primary-color: #9f5f91;
  --th5-secondary-color: #833b61;
  --th5-terciary-color: #e26972;
  --th5-suplementary-color: #f6e998;
  --th5-base-color: #572c57;

  /* ===theme 6 - colors=== */

  --th6-primary-color: #a11692;
  --th6-secondary-color: #ffb49a;
  --th6-terciary-color: #ff4f79;
  --th6-suplementary-color: #787554;
  --th6-base-color: #171838;

  /* ===theme 7 - colors=== */

  --th7-primary-color: #a37973;
  --th7-secondary-color: #dbbea1;
  --th7-terciary-color: #c04019;
  --th7-suplementary-color: #d34f73;
  --th7-base-color: #3f2928;

  /* ===theme 8 - colors=== */
  --th8-purple-dark-color: #2d1e45;
  --th8-purple-medium-color: #511b5c;
  --th8-purple-medium-light-color: #612a51;
  --th8-pink-extra-light-color: #ff695c;
  --th8-beige-color: #ccbca1;
  --th8-yellow-light-color: #ffcb70;
  --th8-yellow-medium-color: #ffc500;
  --th8-pink-light-color: #d6163d;
  --th8-pink-medium-color: #c92b55;
  --th8-pink-dark-color: #8b1c58;
  --th8-orange-color: #f88b30;
  --th8-grey-color: #f2f2f2;

  /* ===fonts=== */
  --title-fonts: "Playfair Display", serif;
  /*--title-fonts: "Finlandica", sans-serif;*/
  --content-fonts: "Tajawal", sans-serif;

  /* ===sizes=== */
  --font-super-smaller: 0.8em;
  --font-smaller: 1em;
  --font-small: 1.3em;
  --font-medium-small: 2em;
  --font-medium: 2.7em;
  --font-big: 3em;
  --font-bigger: 4em;
  --font-super-bigger: 5em;
  --form-control-color: var(--th8-purple-medium-color);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ===============
   RESETS
   =============== */
input,
textarea,
button {
  all: unset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

body,
p,
ol,
ul,
li,
div,
span,
section,
article,
aside,
details,
figcaption,
figure,
video,
footer,
header,
menu,
nav,
section,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

/* ===HTML5 display-role reset for older browsers=== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* ===============
   GENERAL
   =============== */

/* ======== sections & contains ========= */
body {
  background-color: var(--th8-grey-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
section[class^="main__"] {
  width: 90vw;
  margin: 5% auto;
  box-sizing: border-box;
}
/* ======== decorates ========= */
hr.line-separator {
  width: 50%;
  border: 2px solid var(--th8-pink-extra-light-color);
}

/* ======== titles ========= */
h2[class$="_title"] {
  font: var(--font-medium) var(--title-fonts);
  text-align: center;
  margin: 1em auto;
  position: relative;
  color: var(--th8-purple-medium-color);
  width: max-content;
}
h2[class$="_title"]:after {
  content: "";
  position: absolute;
  width: 20px;
  background-color: var(--th8-pink-extra-light-color);
  height: 0.1em;
  bottom: 0;
  z-index: -1;
}

p[class$="_text"] {
  font: var(--font-smaller) / 1em var(--content-fonts);
  color: var(--th8-purple-medium-color);
}
/* ======== forms-inputs-buttons ========= */
.btn {
  padding: 20px;
}

input:not([type="radio"]),
textarea {
  border-bottom: 3px solid var(--th8-purple-medium-color);
}
label,
input,
textarea,
input::placeholder,
textarea::placeholder {
  font: var(--font-smaller) var(--content-fonts);
  color: var(--th8-purple-medium-color);
  width: 100%;
}
.radio-group {
  margin: 5% 0;
}

.form-control {
  width: 100%;
  font: var(--font-smaller) var(--content-fonts);
  color: var(--th8-purple-medium-color);
  display: grid;
  grid-template-columns: 2em auto;
}
input[type="radio"] {
  appearance: none;
  margin: 0;
  font: inherit;
  color: var(--th8-purple-medium-color);
  width: 1em;
  height: 1em;
  border: 2px solid var(--th8-purple-medium-color);
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
input[type="radio"]::before {
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.form-control + .form-control {
  margin-top: 1em;
}
input[type="radio"]:focus {
  outline: 0px solid var(--th8-purple-medium-color);
  outline-offset: 0px;
}
form-control:focus-within {
  color: var(--form-control-color);
}

/* ===============
   HEADER
   =============== */
header {
  height: 80px;
  text-align: right;
  position: absolute;
  z-index: 2;
}

/* ===============
   NAV
   =============== */
.header-nav {
  position: absolute;
  width: 100vw;
  top: 80px;
}

/* ===============
   FOOTER
   =============== */

.footer {
  margin-top: auto;
  background-color: var(--th8-purple-dark-color);
  color: var(--white);
  height: 5vh;
  min-height: 5vh;
  width: 100vw;
  padding: 10px 0;
}
.footer__nav_list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.footer__nav_list_item img {
  width: auto;
  height: 30px;
  filter: invert(1);
}

/* ===============
   RESPONSIVE -MEDIAS QUERIES
   =============== */
@media screen and (min-width: 678px) {
  section[class^="main__"] {
    width: 80vw;
    margin: 5% auto;
  }
  h2[class$="_title"] {
    font: bold var(--font-super-bigger) var(--title-fonts);
  }
  .btn:hover{
    background-color: var(--th8-pink-dark-color);
    color: var(--white);
  }
}
