@import url(main.css);

/* ===============
   PROJECTS NAV
   =============== */
header {
  background-color: var(--th8-purple-dark-color);
  width: 100vw;
  height: 80px;
  box-sizing: border-box;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  font: var(--font-smaller) var(--content-fonts);
}
header a::after {
  content: "\276E";
  color: var(--th8-pink-extra-light-color);
  font-size: var(--font-medium-small);
}

/* ===============
   VIDEO
   =============== */
section.main__video {
  width: 100vw;
  height: 15vh;
  margin: 80px 0 0;
  position: relative;
  overflow: hidden;
}
section.main__video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  right: 0;
}
section.main__video .video_iframe-content {
  position: relative;
  overflow: hidden;
  width: 100vw;
  padding-top: 56.25%;
}
section.main__video .responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


/* ===============
   GRID PROJECTS
   =============== */
.main__projects-grid_list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
}

.main__projects-grid_list_item {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.main__projects-grid_list_item img {
  width: 100%;
}
.main__projects-grid_list_item figcaption {
  color: var(--th8-purple-dark-color);
  font: bold var(--font-small) var(--content-fonts);
  text-align: center;
}

/* ===============
   MEDIAS QUERIES
   =============== */
@media screen and (min-width: 768px) {
  /* =============== HEADER =============== */
  header {
    font: var(--font-medium-small) var(--content-fonts);
  }

  /* =============== VIDEO =============== */
  section.main__video {
    height: 25vh;
  }


  /* =============== GRID PROJECTS =============== */
  .main__projects-grid_list {
    grid-template-columns: repeat(3, auto);
  }

  .main__projects-grid_list_item {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
 
  .main__projects-grid_list_item figcaption {
    color: var(--th8-purple-dark-color);
    font: bold var(--font-smaller) var(--content-fonts);
    text-align: center;
  }
  .main__projects-grid_list_item figcaption {
    background-color: #540f39a6;
    color: var(--white);
    font: bold var(--font-medium-small) var(--content-fonts);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__projects-grid_list_item figcaption:hover {
    animation: rotate3d 1s ease-in;
    cursor: pointer;
  }
  @keyframes rotate3d {
    0% {
      transform: rotateY(150deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }
}
@media screen and (min-width: 1024px) {
   section.main__video {
    height:20vh;
  }
  .main__projects-grid_list {
    grid-template-columns: repeat(4, auto);
  }
}
@media screen and (min-width: 1400px) {
   section.main__video {
    height: 30vh;
  }
  .main__projects-grid_list {
    grid-template-columns: repeat(5, auto);
  }
}